---
title: meetups.cologne
---

<section class="b-wrapper">
  <% data.dates.meetups.each do |meetup| %>
    <section class="a-tile" style="background:linear-gradient(45deg, <%= meetup.gradient_from %>, <%= meetup.gradient_to %>)">
      <div class="a-date-badge">
        <div class="a-date-badge--inner" style="background-color:<%= meetup.badge_color %>">Next date: <%= meetup.next_date %></div>
      </div>
      <div class="a-brand">
        <img src="<%= image_path meetup.logo %>" class="a-logo <%= 'as-small' if meetup.display_name %>">
        <% if meetup.display_name %>
          <span class="a-title"><%= meetup.name %></span>
        <% end %>
      </div>
      <a href="<%= meetup.link %>" class="a-button <%= 'as-dark' if meetup.dark_button %>">Learn More</a>
    </section>
  <% end %>
</section>
