---
title: meetups.cologne
---

<section class="b-wrapper">
  <section class="a-tile as-webmontag">
    <div class="a-date-badge">
      <div class="a-date-badge--inner as-orange">Next date: <%= data.dates.webmontag %></div>
    </div>
    <div class="a-brand">
      <%= image_tag 'logo_webmontag.svg', class:"a-logo as-webmontag" %>
      <span class="a-title">Webmontag Köln</span>
    </div>
    <a href="http://webmontag-koeln.de/" class="a-button as-webmontag">Learn More</a>

  </section>
  <section class="a-tile as-fintech">
    <div class="a-date-badge">
      <div class="a-date-badge--inner as-blue">Next date: <%= data.dates.fintech %></div>
    </div>
    <div class="a-brand">
      <%= image_tag 'logo_fintech.svg', class:"a-logo" %>
    </div>
    <a href="https://www.meetup.com/FinTech-InsurTech-Meetup-Koln-Bonn/" class="a-button as-fintech">Learn More</a>
  </section>
  <section class="a-tile as-devhouse">
    <div class="a-date-badge">
      <div class="a-date-badge--inner as-black">Next date: <%= data.dates.devhouse %></div>
    </div>
    <div class="a-brand">
      <%= image_tag 'logo_devhouse.svg', class:"a-logo as-devhouse" %>
    </div>
    <a href="https://www.meetup.com/de-DE/DevHouseFriday-Chillout/" class="a-button as-dark">Learn More</a>
  </section>
</section>
